.color-picker {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
  }
  
  .color-tile {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
  }
    

  .plus-button {
    font-size: 24px;
    color: #000; /* Color of the plus icon */
  }
  .circle-focused {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    border: 2px solid #4285F4;
  }